$blueTextColor: #189ED8;
$darkBlueTextColor: #0000aa;

.pageContainer {
  padding-left: 10px;
}

.titleContainer {
  padding: 5px 20px;
}

.title {
  font-size: 30px;
  color: $blueTextColor;
}

.subTitle {
  font-size: 20px;
  color: $darkBlueTextColor;
}